doctype html
html(lang='nl')
    head
        meta(charset='UTF-8')
        title BRT Achtergrondkaart Wizard
        link(rel='stylesheet' href='css/main.css')
        link(rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css")
        link(href='https://api.mapbox.com/mapbox.js/v3.1.0/mapbox.css' rel='stylesheet')
        link(rel="stylesheet" href="https://openlayers.org/en/v4.1.0/css/ol.css")

    body
        h1 Gebruik NLMaps nu
        div.grid
          div.cell.col1
            
            p <span class="number">&#x2460</span>kies je service
              
          div.cell.col2
            button#leaflet.btn Leaflet
            button#google.btn Google Maps
            button#mapbox.btn Mapbox
            button#openlayers.btn OpenLayers
        div.grid
          div.cell.col1
            p <span class="number">&#x2461</span> kopieer de code
          div.cell.col2
            block content
        block libs
            script(src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js")
            script(src='https://api.mapbox.com/mapbox.js/v3.1.0/mapbox.js')
            script(src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.4.1/proj4.js")
            script(src="https://openlayers.org/en/v4.1.0/build/ol.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/proj4leaflet/1.0.1/proj4leaflet.min.js")
        block script
            script(src='js/main.min.js')

