body {
  margin: 3px auto;
  font-family: sans-serif;
  max-width:900px;

}

h1{
  text-align:center;
  font-weight: normal
}

#nlmap{height:300px}

.grid{
  display: flex;
  flex-direction:row;
  justify-content:space-between
}

.col1 {
  width: 30%
}

.col2 {
  width:70%
}

#code {
  overflow-x: scroll
}

.number{
  padding: 0 10px;
  font-size: 2em;
  vertical-align: middle
}
.btn {
  font-family: Arial;
  color: #333;
  font-size: 20px;
  background: #fff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border:none;
  margin: 0 3px;
  outline:none;
  border: 2px solid #fff;
}

.btn:focus {
  outline: none
}
.btn::-moz-focus-inner{
  border: 0
}

.btn:hover, .btn.selected {
  border-color: #3498db;
  border-radius: 3px;
  text-decoration: none;
}
